.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.main-bg {
  height: 300px;
  background-image: url('/public/bg.png');
  background-size: cover;
  background-position: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.recent {
  position: fixed;
  right: 0;
  top: 20%;
  background-color: white;
  border: 1px solid #aaa;
}

.recent-header {
  background-color: #282c34;
  color: white;
  padding: 10px;
  margin: 0;
}

.recent-products-container {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3px;
}

.recent-item {
  border: 1px solid #eee;
  margin: 5px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
